<html ng-app="myApp">
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- jQuery library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>


<style>
   .ques{
     margin-left: 200px;
 margin-right: 200px;
 margin-top: 200px;
 min-height: 2000px;
   }
   body {
 background-color:whitesmoke;
}


</style>

<script>

</script>


<script>
var app=angular.module('myApp', ['ngCookies','ngFileUpload', 'ngRoute'])
.config(['$locationProvider', function($locationProvider) {
 $locationProvider.html5Mode(false);
 $locationProvider.hashPrefix('');
}]);

app.controller('topiccontroller',function($scope,$location,$http,$cookies,$window,$route){
$scope.ques=false;
$scope.err;
$scope.flag=false;

$scope.topicupload=function(){        //get dp of user here and now post it to server4
        var desc=$scope.desc;
        var img=$scope.topicImage;
        var type=$scope.option1;
        var topicname=$scope.topicname;
        console.log(type);
        console.log(topicname);
        console.log(img);
        var formdata = new FormData();
        formdata.append('desc',desc);
        formdata.append('img',img);
        formdata.append('type',type);
        formdata.append('topicname',topicname);
        $http.post('/topics/addimage',formdata,{
            transformRequest:angular.identity,
            headers:{'Content-Type': undefined}
        }).then(function(res){
            console.log(res.data);
            if(res.data=="topic added successfully"){
            alert("Topic added successfully, you can now add questions in it.");
            $window.location.href="http://localhost:8000/questions";
            }else{
                $scope.flag=true;
                $scope.err="Please enter a valid topic.";
                alert("Topic not added please fill all fields and add a valid one, unique one.");
            }
    });
    }

    $scope.showques=function(){
        console.log("getting ques");
        $http.get('http://localhost:8000/questions').then(function(res){
            console.log(res);
        });
    }
});


</script>

<title>
   Add Topic
 </title>

 <head>
     <script>
     
         </script>
 </head>
 <body ng-controller="topiccontroller">
    <nav>
        <div class="nav-wrapper blue">
          <a href="/home" class="brand-logo center">QUIZINGA</a>
          <ul class="right hide-on-med-and-down">
            <li>
                <a href="/home/givequiz">Give Quiz</a> 
        </li>
            &nbsp; &nbsp;&nbsp; &nbsp;
            <li>
                <a href="/profile">Profile</a> 
            </li>

            <li>
                <a href="/quiz/">Create Quiz</a> 
            </li>
            </ul>

            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="/topics/yourtopics">Your Topics</a> 
                </li>

                <li>
                    <a href="/topics/">Create Topic</a> 
                </li>

                <li>
                    <a href="/topics/alltopics">All Topics</a> 
                </li>

                </ul>
        </div>
      </nav> 
               <br><br>                    

     <div class ="topic container" >
             <div class="card-panel blue lighten-2"><h5>Choose a unique name for the topic</h5></div>
        <br><br>
             <form method="POST">
             <div class="input-field col s12">
                <label  for="topics"><h5>Enter topic name:</h5></label>
                <br>
                <input required name="topics" ng-model="topicname" type="text" class="validate">          
              </div>
                <label>Add a picture for this topic</label><br>
                <input type="file"  ngf-select ng-model="topicImage" name="file"
                accept="image/*" >
                <img class="image-display" ng-show="myForm.file.$valid"
                ngf-resize="{width: 100, height: 100, quality: 0.9}" ngf-src="topicImage" class="thumb">
                <br><br>
                <div class="input-field col s12">
                    <label  for="desc"><medium>Enter topic description:</medium></label>
                    <input required name="desc" ng-model="desc" type="text" class="validate">          
                  </div>
                <div class="card-panel blue lighten-2"><p>Please select the type of quiz that you are going to make.</p></div>
                <br><br>
              
        <p>
            <input required name="group1" type="radio" id="test1" name="option1" value="general" ng-model="option1"/>
            <label for="test1">General</label>
            </p>
            <p>
            <input required name="group1" type="radio" id="test2" name="option1" value="humour" ng-model="option1" />
            <label for="test2">Humour</label>
            </p>

        <br><br><br>
        <button ng-click="topicupload()" class="waves-effect waves-light btn-large"><i class="material-icons left">add</i>Add it</button>
        
    </form>
            
            
            </div>

            <a title="Logout" href="/users/logout" style="position: absolute;right:30;top:90" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">arrow_drop_down_circle</i></a>
            
 </body>

</html>