<html ng-app="myApp">
        <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <!-- jQuery library -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    
    
    <style>
        .home{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    min-height: 200px;
}

       .ques{
         margin-left: 200px;
     margin-right: 200px;
     margin-top: 200px;
     min-height: 2000px;
       }
       body {
     background-color:whitesmoke;
    }
    
    
    </style>
    
    <script>
    var app=angular.module('myApp', ['ngCookies','ngFileUpload', 'ngRoute'])
    .config(['$locationProvider', function($locationProvider) {
     $locationProvider.html5Mode(false);
     $locationProvider.hashPrefix('');
    }]);
    
    app.controller('topiccontroller',function($scope,$location,$http,$cookies,$window,$route){
    $scope.message="Posts";

    
});
    
    
    </script>
    
    <title ng-controller="topiccontroller">
       {{message}}
     </title>
    
     <head>
         <script>
         
             </script>
     </head>
     <body ng-controller="topiccontroller">
        <nav>
            <div class="nav-wrapper blue">
              <a href="/home" class="brand-logo center">QUIZINGA</a>
              <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/home/givequiz">Give Quiz</a> 
            </li>
                &nbsp; &nbsp;&nbsp; &nbsp;
                <li>
                    <a href="/profile">Profile</a> 
                </li>
    
                <li>
                    <a href="/quiz/">Create Quiz</a> 
                </li>
                </ul>
    
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="/topics/yourtopics">Your Topics</a> 
                    </li>
    
                    <li>
                        <a href="/topics/">Create Topic</a> 
                    </li>
    
                    <li>
                        <a href="/topics/alltopics">All Topics</a> 
                    </li>
    
                    </ul>
            </div>
          </nav> 
                   <br><br>                    
                   <div class="container">
                        <div class="home">
                        <div class="row">
                            <p>Here wil be a specific topic's posts</p>
                        </div>
                        </div>
                    </div>
                <a title="Logout" href="/users/logout" style="position: absolute;right:30;top:90" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">arrow_drop_down_circle</i></a>
                <div class="fixed-action-btn toolbar">
                        <a class="btn-floating btn-large blue">
                          <i class="large material-icons">person</i>
                        </a>
                        <ul>
                          <li class="waves-effect waves-light"><a ng-click="contacts()"><i class="material-icons">contacts</i></a></li>
                          <li class="waves-effect waves-light"><a ng-click="messages()" href="#!"><i class="material-icons">message</i></a></li>
                          <li class="waves-effect waves-light"><a ng-click="notify()" href="#!"><i class="material-icons">notifications</i></as></li>
                       </ul>
                      </div>
                   
     </body>
    
    </html>